<%= form_for @user, url: form_submit_path do |f| %>
<p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :email %>:
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label :password %>:
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation %>
</p>

  <%= f.fields_for :addresses do |fa| %>
    <p>
      <%= fa.label :nickname %>:
      <%= fa.text_field :nickname %>
    </p>

    <p>
      <%= fa.label :street %>:
      <%= fa.text_field :street %>
    </p>

    <p>
      <%= fa.label :city %>:
      <%= fa.text_field :city %>
    </p>

    <p>
      <%= fa.label :state %>:
      <%= fa.text_field :state %>
    </p>

    <p>
      <%= fa.label :zip %>:
      <%= fa.text_field :zip %>
    </p>
  <% end %>

<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
